.landing {
  background-image: url(../assets/background-buddy-writer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 95vh;
}
.landing__content {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 6rem;
}
.landing__button-register {
  background-color: #233c77;
  border-radius: 30px;
  padding: 15px 50px;
  color: #ffff;
}

@media only screen and (max-width: 970px) {
  .landing__content {
    padding-left: 4rem;
  }
}
@media only screen and (max-width: 600px) {
  .landing {
    background-position: bottom;
    background-size: contain;
    height: 100vh;
  }
  .landing__content {
    width: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: flex-start;
    align-items: center;
  }
  .landing__content h1 {
    text-align: center;
    font-size: 44px;
  }
}
