.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box .sidebar-box {
  width: 30%;
  order: 1;
}

.box .right-box {
  width: 100%;
  order: 2;
  height: 100vh;
  overflow-y: auto;
}

.right-box .home-box {
  height: 70vh;
  padding: 2em;
}

