.generate-documentation {
  height: 100vh;
  padding: 2rem 2rem 2rem 30rem;
}
h2,
p {
  color: black;
}
img {
    width: 18px;
    margin-right: 10px;
}
.generate-documentation__container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.generate-documentation__container-textarea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.generate-documentation__container-textarea textarea {
  margin: 1rem 0;
  background-color: white;
  padding: 0.5rem;
  border-radius: 15px;
  border: 2px solid #233c77;
  color: black;
  outline: none;
}
.generate-documentation__button {
  background-color: #233c77;
  border-radius: 30px;
  color: #ffff;
  width: max-content;
  margin: 0 0.5rem;
}
